<!DOCTYPE html>
<html>
<head>
    <title>Embedding Streamlit in C# Web</title>
</head>
<body>

    <iframe src="http://localhost:8501" width="1300" height="800" frameborder="0"></iframe>
</body>
</html>
