<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Style_Ensembliste.css">
    <title>Methode Ensembliste</title>
    <style>
        

        button {
            margin-bottom: 10px;
        }

        .result {
            margin-bottom: 10px;
        }

        .hidden {
            display: none;
        }
    </style>
    <script>
        function showResult(algorithm) {
            const resultArea = document.getElementById('resultArea');
            resultArea.textContent = 'Results for ' + algorithm;
        }



        function updateExplanation1() {
            const select = document.getElementById('algorithmSelect1');
            const KNNDiv = document.getElementById('KNNDiv1');
            const SVMDiv = document.getElementById('DTDiv1');
            const RFDiv = document.getElementById('RFDiv1');

            if (select.value === 'KNN') {
                KNNDiv.classList.remove('hidden');
                SVMDiv.classList.add('hidden');
                RFDiv.classList.add('hidden');
            }
            if (select.value === 'DT') {
                SVMDiv.classList.remove('hidden');
                KNNDiv.classList.add('hidden');
                RFDiv.classList.add('hidden');
            }
            if (select.value === 'Random Forest') {
                RFDiv.classList.remove('hidden');
                KNNDiv.classList.add('hidden');
                SVMDiv.classList.add('hidden');
            }

        }

        function updateExplanation() {
            const select = document.getElementById('algorithmSelect');
            const KNNDiv = document.getElementById('KNNDiv');
            const SVMDiv = document.getElementById('SVMDiv');
            const RFDiv = document.getElementById('RFDiv');

            if (select.value === 'KNN') {
                KNNDiv.classList.remove('hidden');
                SVMDiv.classList.add('hidden');
                RFDiv.classList.add('hidden');
            }
            if (select.value === 'SVM') {
                SVMDiv.classList.remove('hidden');
                KNNDiv.classList.add('hidden');
                RFDiv.classList.add('hidden');
            }
            if (select.value === 'Random Forest') {
                RFDiv.classList.remove('hidden');
                KNNDiv.classList.add('hidden');
                SVMDiv.classList.add('hidden');
            }

        }
    </script>
</head>



    <!-- Button to show options -->
    <!-- Area to display results -->
    <div id="resultArea"></div>

    <form id="optionsForm" class="option-form" method="post" asp-controller="Home" asp-action="MethodesEnsemblistes"/>
        <div id="optionsSection">
            <h1 class="text-center mt-5">Méthodes EnsembListe</h1>
            <div class="accordion-item">
                <h class="accordion-header" id="headingOption1">
                    <div class="d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" id="mainOption1" name="mainOption1" value="true">
                        <label for="mainOption1">XGBoost</label>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOption1" aria-expanded="false" aria-controls="collapseOption1" style="width: 25px; padding: 0; margin-left: 7px; margin-top: 13px;">
                            <span class="visually-hidden">Toggle sub-options</span>
                        </button>
                    </div>
                </h>
                <div id="collapseOption1" class="accordion-collapse collapse" aria-labelledby="headingOption1" data-bs-parent="#optionsAccordion">
                    <div class="accordion-body">
                <select id="algorithmSelect1" onchange="updateExplanation1()" name="algorithmSelect1">
                            <option value="KNN">KNN</option>
                            <option value="DT">Decision Tree</option>
                            <option value="Random Forest">Random Forest</option>
                        </select>


                        <div id="KNNDiv1" class="hidden">
                            <div class="accordion-body">


                                <p>1. knn_neighbors:</p>

                                <input class="form-number" type="number" id="n_neighbors-input" name="knn_neighbors" value="5" min="1" max="100" required>
                                <div class="explication">
                                    <p>Number of neighbors to use by default for kneighbors queries.</p>
                                </div>
                                <p>2.booster:</p>
                                <select id="metric-select" name="booster" class="form-select">
                                    <option value="gblinear">gblinear</option>
                                    <option value="gbtree">gbtree</option>
                                    <option value="dart">dart</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        booster string<br>
                                        Le paramètre booster est utilisé dans les bibliothèques de machine learning pour spécifier le type d'algorithme de boosting à utiliser.<br />
                                    </p>
                                </div>
                                <p>3.n_estimators:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="n_estimators" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="100" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        n_estimators int, default=100<br>
                                        Le nombre d'arbres de décision dans la forêt. Plus il est élevé, plus le modèle aura de la facilité à apprendre.<br />
                                        Cependant si la valeur est trop élevé pour les données, le modèle risque d'être surentraîné et de mal se généraliser.
                                    </p>
                                </div>
                                <p>4.verbosity:</p>
                                <select id="metric-select" name="verbosity" class="form-select">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>

                                <div class="explication">
                                    <p>
                                        Explication :
                                        verbosity int<br>
                                        Le paramètre verbosity dans XGBoost est utilisé pour contrôler le niveau de détail des messages de sortie pendant l'entraînement du modèle.<br />

                                    </p>
                                </div>
                                <p>5.objective:</p>
                                <select id="metric-select" name="objective" class="form-select">
                                    <option value="binary:logistic">binary:logistic</option>
                                    <option value="binary:logitraw">binary:logitraw</option>
                                    <option value="multi:softprob">multi:softprob</option>
                                    <option value="multi:softmax ">multi:softmax </option>
                                    <option value="reg:squarederror ">reg:squarederror </option>
                                    <option value="reg:logistic ">reg:logistic </option>
                                    <option value="reg:gamma">reg:gamma</option>
                                    <option value="rank:pairwise">rank:pairwise</option>
                                    <option value="rank:ndcg">rank:ndcg</option>
                                    <option value="rank:map">rank:map</option>
                                    <option value="survival:cox ">survival:cox </option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        objective string<br>
                                        Le paramètre objective dans XGBoost spécifie la fonction de perte à optimiser pendant l'entraînement du modèle.<br />

                                    </p>
                                </div>
                                <p>6.eval_metric:</p>
                                <select id="metric-select" name="eval_metric" class="form-select">
                                    <option value="error">error</option>
                                    <option value="auc">auc</option>
                                    <option value="logloss">logloss</option>
                                    <option value="merror">merror</option>
                                    <option value="mlogloss">mlogloss</option>
                                    <option value="rmse">rmse</option>
                                    <option value="mae">mae</option>
                                    <option value="rmsle">rmsle</option>
                                    <option value="logloss">logloss</option>
                                    <option value="map">map</option>
                                    <option value="ndcg">ndcg</option>
                                    <option value="ndcg@k">ndcg@k</option>
                                    <option value="map@k">map@k</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        eval_metric string,<br>
                                        Dans XGBoost, le paramètre eval_metric est utilisé pour spécifier les métriques d'évaluation à surveiller pendant l'entraînement du modèle. <br />

                                    </p>
                                </div>
                                <p>7.early_stopping_rounds:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="early_stopping_rounds" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        early_stopping_rounds int, default='None'<br>
                                        Le paramètre early_stopping_rounds est utilisé dans XGBoost pour activer le mécanisme d'arrêt anticipé (early stopping) pendant l'entraînement du modèle.<br />

                                    </p>
                                </div>
                                <p>8.seed:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="seed" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        seed int, default='None'<br>
                                        Le paramètre seed est utilisé dans XGBoost pour spécifier une graine aléatoire afin de contrôler la reproductibilité des résultats lors de l'entraînement du modèle.<br />

                                    </p>
                                </div>
                                <p>9.nthread:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="nthread" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        nthread int, default='None'<br>
                                        Le paramètre nthread dans XGBoost est utilisé pour spécifier le nombre de threads parallèles à utiliser lors de l'entraînement du modèle. <br />

                                    </p>
                                </div>

                                



                            </div>
                        </div>

                        <div id="DTDiv1" class="hidden">
                            <div class="accordion-body">

                        <p>1. learning_rate:</p>
                        <div>
                            <input class="form-number" type="number" id="learning_rate-input" name="learning_rate" style="width: 230px;" placeholder="Enter a positive float value" min="0" max="1.0" step="0.1" value="0.1" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                        </div>
                                <div class="explication">
                                    <p>
                                Learning rate for the gradient boosting algorithm. When a new tree
                                is trained, it will be added to the existing trees
                                . Before doing so, it will be multiplied by the learning_rate.

                                Decreasing this hyperparameter reduces the likelihood of overfitting.

                                Range: [0, 1]
                                    </p>
                                </div>
                                <p>2.booster:</p>
                                <select id="metric-select" name="booster" class="form-select">
                                    <option value="gblinear">gblinear</option>
                                    <option value="gbtree" selected>gbtree</option>
                                    <option value="dart">dart</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        booster string<br>
                                        Le paramètre booster est utilisé dans les bibliothèques de machine learning pour spécifier le type d'algorithme de boosting à utiliser.<br />
                                    </p>
                                </div>
                                <p>3.n_estimators:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="n_estimator3" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="100" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        n_estimators int, default=100<br>
                                        Le nombre d'arbres de décision dans la forêt. Plus il est élevé, plus le modèle aura de la facilité à apprendre.<br />
                                        Cependant si la valeur est trop élevé pour les données, le modèle risque d'être surentraîné et de mal se généraliser.
                                    </p>
                                </div>
                             
                                <p>4.objective:</p>
                                <select id="metric-select" name="objective" class="form-select">
                                    <option value="binary:logistic" selected>binary:logistic</option>
                                    <option value="binary:logitraw">binary:logitraw</option>
                                    <option value="reg:logistic ">reg:logistic </option>
                                    
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        objective string<br>
                                        Le paramètre objective dans XGBoost spécifie la fonction de perte à optimiser pendant l'entraînement du modèle.<br />

                                    </p>
                                </div>
                        <p>5.sample_type:</p>
                        <select id="sample_type-select" name="sample_type" class="form-select">
                            <option value="uniform" selected>uniform</option>
                            <option value="weighted">weighted</option>
                                    
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                Possible values:

                                ‘uniform’: every tree is equally likely to be dropped out

                                ‘weighted’: the dropout probability will be proportional to a tree’s weight

                                Please also refer to the remarks on rate_drop for further explanation.

                                Will be ignored if booster is not set to ‘dart’.
                                    </p>
                                </div>
                                <p>6.early_stopping_rounds:</p>
                                <div>
                            <input class="form-number" type="number" id="criterion-n_estimators-input" name="early_stopping_rounds" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="10" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        early_stopping_rounds int<br>
                                        Le paramètre early_stopping_rounds est utilisé dans XGBoost pour activer le mécanisme d'arrêt anticipé (early stopping) pendant l'entraînement du modèle.<br />

                                    </p>
                                </div>
                        <p>7.gamma:</p>
                                <div>
                            <input class="form-number" type="number" id="gamma-input" name="gamma3" style="width: 230px;" placeholder="Enter a positive integer value" min="0.0" max="100.0" step="1.0" value="0.0" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                Minimum loss reduction required for any update to the tree. This means that every potential update will first be evaluated for its improvement to the loss function. If the improvement exceeds gamma, the update will be accepted.

                                Increasing this hyperparameter reduces the likelihood of overfitting.
                                    </p>
                                </div>
                        <p>8.colsample_bylevel:</p>
                                <div>
                            <input class="form-number" type="number" id="colsample_bylevel-input" name="colsample_bylevel" style="width: 230px;" placeholder="Enter a positive integer value" min="0" max="1.0" step="0.1" value="1.0" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                Subsample ratio for the columns used, for each level inside a tree.

                                Note that XGBoost grows its trees level-by-level, not node-by-node. At each level, a subselection of the features will be randomly picked and the best feature for each split will be chosen. This hyperparameter determines the share of features randomly picked at each level. When set to 1, then now such sampling takes place.

                                Decreasing this hyperparameter reduces the likelihood of overfitting.

                                Range: (0, 1]
                                    </p>
                                </div>


                               
                            </div>
                        </div>

                        <div id="RFDiv1" class="hidden">
                            <div class="accordion-body">


                              
                                <p>1.n_estimators:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="nestimators" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="100" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        n_estimators int, default=100<br>
                                        Le nombre d'arbres de décision dans la forêt. Plus il est élevé, plus le modèle aura de la facilité à apprendre.<br />
                                        Cependant si la valeur est trop élevé pour les données, le modèle risque d'être surentraîné et de mal se généraliser.
                                    </p>
                                </div>

                        <p>2.max_depth:</p>
                        <div>
                            <input class="form-number" type="number" id="criterion-max_depth-input" name="mx_depth" style="width: 230px;" placeholder="Enter a positive integer value" min="0" max="100" step="1" value="6" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                        </div>
                        <div class="explication">
                            <p>
                                Explication :
                                max_depth int, default=6<br>
                                Maximum allowed depth of the trees.

                                Decreasing this hyperparameter reduces the likelihood of overfitting.
                            </p>
                        </div>

                        <p>3.learning_rate:</p>
                        <div>
                            <input class="form-number" type="number" id="lrn_rate-input" name="lrn_rate" style="width: 230px;" placeholder="Enter a positive integer value" min="0" max="1.0" step="0.1" value="1.0" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                        </div>
                        <div class="explication">
                            <p>
                                Explication :
                                Learning rate for the gradient boosting algorithm.<br>
                                Decreasing this hyperparameter reduces the likelihood of overfitting.

                                Range: [0, 1]

                            </p>
                        </div>
                        <p>4.subsample:</p>
                        <div>
                            <input class="form-number" type="number" id="subsample-input" name="subsample" style="width: 230px;" placeholder="Enter a positive integer value" min="0" max="1.0" step="0.1" value="0.8" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                        </div>
                        <div class="explication">
                            <p>
                                Explication :
                                Subsample ratio from the training set. This means that for every tree a subselection of samples from the training set will be included into training. Please note that this samples without replacement - the common approach for random forests is to sample with replace.

                                Decreasing this hyperparameter reduces the likelihood of overfitting.

                                Range: (0, 1]

                            </p>
                        </div>
                        <p>5.colsample_bynode:</p>
                                <div>
                            <input class="form-number" type="number" id="colsample_bynode-input" name="colsample_bynode" style="width: 230px;" placeholder="Enter a positive integer value" min="0" max="1.0" step="0.1" value="0.8" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        
                                    </p>
                                </div>
                                <p>6.random_state:</p>
                                <div>
                            <input class="form-number" type="number" id="rd_state-input" name="rd_state" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="42" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                       
                                    </p>
                                </div>
                             


                                

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h class="accordion-header" id="headingOption2">
                    <div class="d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" id="mainOption2" name="mainOption2" value="true">
                        <label for="mainOption2">AdaBoost</label>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOption2" aria-expanded="false" aria-controls="collapseOption2" style="width: 25px; padding: 0; margin-left: 7px; margin-top: 13px">
                            <span class="visually-hidden">Toggle sub-options</span>
                        </button>
                    </div>
                </h>
                <div id="collapseOption2" class="accordion-collapse collapse" aria-labelledby="headingOption2" data-bs-parent="#optionsAccordion">
                    <div class="accordion-body">
                        <select id="algorithmSelect" onchange="updateExplanation()" name="algorithmSelect">
                            <option value="KNN">KNN</option>
                            <option value="SVM">SVM</option>
                            <option value="Random Forest" selected>Random Forest</option>
                        </select>


                        <div id="KNNDiv" class="hidden">
                            <div class="accordion-body">

                                <p>cv_folds</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-cv_folds_knn-input" name="cv_folds_knn" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Determines the cross-validation splitting strategy.
                                    </p>
                                </div>
                                <p>1. n_neighbors:</p>
                                <div>
                                    <input class="form-number" type="number" id="n_neighbors-input" name="n_neighbors" value="5" min="1" max="100" required>
                                </div>
                                <div class="explication">
                                    <p>Number of neighbors to use by default for kneighbors queries.</p>
                                </div>
                                <p>2. weights:</p>

                                <select id="weights-select" name="weights" class="form-select">
                                    <option value="uniform">uniform</option>
                                    <option value="distance">distance</option>
                                </select>
                                <div class="explication">
                                    <p>Weight function used in prediction.</p>
                                </div>

                                <p>3. metric:</p>

                                <select id="metric-select" name="metric" class="form-select">
                                    <option value="minkowski">minkowski</option>
                                    <option value="euclidean">euclidean</option>
                                    <option value="manhattan">manhattan</option>
                                </select>
                                <div class="explication">
                                    <p>Metric to use for distance computation.</p>
                                </div>
                                <p>4.algorithm</p>
                                <select id="algorithm-select" name="algorithm" class="form-select">
                                    <option value="ball_tree">ball_tree</option>
                                    <option value="kd_tree">kd_tree</option>
                                    <option value="brute">brute</option>
                                    <option value="auto" selected>auto</option>
                                </select>
                                <div class="explication">
                                    <p>Algorithm used to compute the nearest neighbors</p>
                                </div>
                                <p>5.leaf_size</p>
                                <div>
                                    <input class="form-number" type="number" id="leaf_size-input" name="leaf_size" value="30" min="1" max="100" required>
                                </div>
                                <div class="explication">
                                    <p>Leaf size passed to BallTree or KDTree. This can affect the speed of the construction and query, as well as the memory required to store the tree. The optimal value depends on the nature of the problem.</p>
                                </div>
                                <p>6.n_jobs</p>
                                <div>
                                    <input class="form-number" type="number" id="n_jobs_knn-input" name="n_jobs_knn" min="1" max="100" placeholder="None">

                                </div>
                                <div class="explication">
                                    <p>The number of parallel jobs to run for neighbors search. None means 1 unless in a joblib.parallel_backend context. -1 means using all processors.</p>
                                </div>
                                <p>7.p</p>
                                <div>
                                    <input class="form-number" type="number" id="p-input" name="p" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="2.0" required oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>Power parameter for the Minkowski metric. When p = 1, this is equivalent to using manhattan_distance (l1), and euclidean_distance (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used. This parameter is expected to be positive.</p>
                                </div>




                            </div>
                        </div>

                        <div id="SVMDiv" class="hidden">
                            <div class="accordion-body">

                                <p>cv_folds</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-cv_folds-input" name="cv_folds_svm" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Determines the cross-validation splitting strategy.
                                    </p>
                                </div>
                                <p>1. C:</p>

                                <div>
                                    <input class="form-number" type="number" id="C_svm-input" name="C_input_svm" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="1.0" oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        C: float, default value = 1.0<br>
                                        Description: Defines the penalty for the model when it misclassifies. Be careful not to choose too high a value for C to avoid overfitting the model.
                                    </p>
                                </div>

                                <p>2. Kernel:</p>
                                <select id="kernel-select" name="kernel_select" class="form-select">
                                    <option value="linear">linear</option>
                                    <option value="poly">polynomial</option>
                                    <option value="rbf" selected>rbf</option>
                                    <option value="sigmoid">sigmoid</option>
                                    <option value="precomputed">precomputed</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Kernel: {‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’} or callable, default=’rbf’<br>
                                        Description: Defines the shape of the boundary between the different classes of the model.
                                    </p>
                                </div>


                                <p>3. Gamma:</p>

                                <select id="gamma-select" name="gamma_select" class="form-select">
                                    <option value="scale" selected>scale</option>
                                    <option value="auto">auto</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Gamma: {‘scale’, ‘auto’} or float, default value =’scale’<br>
                                        Kernel coefficient for ‘rbf’, ‘poly’, and ‘sigmoid’.
                                        If gamma='scale', it takes the value 1/(n_features * X.var()).
                                        If ‘auto’, it uses 1 / n_features.
                                        If float, it must be positive.
                                    </p>
                                </div>
                                <p>4. degree:</p>
                                <div>
                                    <input class="form-number" type="number" id="degree-input" name="degree" style="width: 230px;" placeholder="Enter a positive int value" pattern="\d+(\.\d+)?" value="3">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Degree of the polynomial kernel function (‘poly’). Must be non-negative. Ignored by all other kernels.Degree of the polynomial kernel function (‘poly’). Must be non-negative. Ignored by all other kernels.ve.
                                    </p>
                                </div>
                                <p>5.coef0</p>
                                <div>
                                    <input class="form-number" type="number" id="coef0-input" name="coef0" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="0.0" required oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Independent term in kernel function. It is only significant in ‘poly’ and ‘sigmoid’.
                                    </p>
                                </div>
                                <p>6.shrinking</p>
                                <select id="shrinking-select" name="shrinking" class="form-select">
                                    <option value="True" selected>True</option>
                                    <option value="False">False</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Whether to use the shrinking heuristic
                                    </p>
                                </div>
                                <p>7.probability</p>
                                <select id="probability-select" name="probability" class="form-select">
                                    <option value="True">True</option>
                                    <option value="False" selected>False</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Whether to enable probability estimates. This must be enabled prior to calling fit, will slow down that method as it internally uses 5-fold cross-validation, and predict_proba may be inconsistent with predict.
                                    </p>
                                </div>
                                <p>8.tol</p>
                                <div>
                                    <input class="form-number" type="number" id="tol-input" name="tol" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="0.001"
                                    oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Tolerance for stopping criterion.
                                    </p>
                                </div>
                                <p>9.cache_size</p>
                                <div>
                                    <input class="form-number" type="number" id="cache_size-input" name="cache_size" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="200"  oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Specify the size of the kernel cache (in MB).
                                    </p>
                                </div>
                                <p>10.class_weight</p>
                                <select id="class_weight-select" name="class_weight_svm" class="form-select">
                                    <option value="balanced">balanced</option>
                                    <option value="None" selected>None</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Set the parameter C of class i to class_weight[i]*C for SVC. If not given, all classes are supposed to have weight one. The “balanced” mode uses the values of y to automatically adjust weights inversely proportional to class frequencies in the input data as n_samples / (n_classes * np.bincount(y)).
                                    </p>
                                </div>
                                <p>11.verbose</p>
                                <select id="verbose-select" name="verbose_svm" class="form-select">
                                    <option value="True">True</option>
                                    <option value="False" selected>False</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Enable verbose output. Note that this setting takes advantage of a per-process runtime setting in libsvm that, if enabled, may not work properly in a multithreaded context.
                                    </p>
                                </div>
                                <p>12.max_iter</p>
                                <div>
                                    <input class="form-number" type="number" id="max_iter-input" name="max_iter" style="width: 230px;" placeholder="Enter a positive float value" pattern="\d+(\.\d+)?" value="-1" min="-1" max="100"  oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Hard limit on iterations within solver, or -1 for no limit.
                                    </p>
                                </div>
                                <p>13.decision_function_shape</p>
                                <select id="decision_function_shape-select" name="decision_function_shape" class="form-select">
                                    <option value="ovo">ovo</option>
                                    <option value="ovr" selected>ovr</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Whether to return a one-vs-rest (‘ovr’) decision function of shape (n_samples, n_classes) as all other classifiers, or the original one-vs-one (‘ovo’) decision function of libsvm which has shape (n_samples, n_classes * (n_classes - 1) / 2). However, note that internally, one-vs-one (‘ovo’) is always used as a multi-class strategy to train models; an ovr matrix is only constructed from the ovo matrix. The parameter is ignored for binary classification.
                                    </p>
                                </div>

                                <p>14.break_ties</p>
                                <select id="break_ties-select" name="break_ties" class="form-select">
                                    <option value="True">True</option>
                                    <option value="False" selected>False</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        If true, decision_function_shape='ovr', and number of classes > 2, predict will break ties according to the confidence values of decision_function; otherwise the first class among the tied classes is returned. Please note that breaking ties comes at a relatively high computational cost compared to a simple predict.
                                    </p>
                                </div>
                                <p>15.random_state</p>
                                <div>
                                    <input class="form-number" type="number" id="random_state-input" name="random_state_svm" style="width: 230px;" placeholder="None" pattern="\d+(\.\d+)?" min="-1" max="100" oninput="this.value = parseFloat(this.value).replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explanation:
                                        Controls the pseudo random number generation for shuffling the data for probability estimates. Ignored when probability is False. Pass an int for reproducible output across multiple function calls.
                                    </p>
                                </div>








                            </div>
                        </div>

                        <div id="RFDiv" class="hidden">
                            <div class="accordion-body">

                                <p>cv_folds</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-cv_folds-input" name="cv_folds" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="5" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Determines the cross-validation splitting strategy.
                                    </p>
                                </div>

                                <p>1.n_estimators:</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_estimators-input" name="n_est" style="width: 230px;" placeholder="Enter a positive integer value" min="1" max="100" step="1" value="100" required oninput="this.value = this.value.replace(/[^\d.]/g,'')">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        n_estimators int, default=33<br>
                                        Le nombre d'arbres de décision dans la forêt. Plus il est élevé, plus le modèle aura de la facilité à apprendre.<br />
                                        Cependant si la valeur est trop élevé pour les données, le modèle risque d'être surentraîné et de mal se généraliser.
                                    </p>
                                </div>

                                <p>2.max_depth:</p>

                                <div>
                                    <input class="form-number" type="number" id="criterion-max_depth-input" name="max_d" placeholder="Enter a positive integer between 1 and 100" min="1" max="100" step="1" maxlength="3" ">

                                </div>
                                <label class="form-check-label" for="criterion-max_depth-input">
                                </label>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        max_depthint, default=None<br>
                                        The maximum depth of the tree. If None, then nodes are expanded until all leaves are pure or until all leaves contain less than min_samples_split samples.
                                    </p>
                                </div>


                                <p>3.min_samples_leaf:</p>

                                <div>
                                    <input class="form-number" type="number" id="criterion-min_samples_leaf-input" name="min_samples" placeholder="Enter a positive integer between 1 and 100" value="1" min="1" max="100" step="1" maxlength="3" required oninput="this.value = this.value.replace(/\D/g,'')">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        min_samples_leafint or float, default=1<br>
                                        The minimum number of samples required to be at a leaf node. A split point at any depth will only be considered if it leaves at least min_samples_leaf training samples in each of the left and right branches. This may have the effect of smoothing the model, especially in regression.
                                    </p>

                                </div>
                                <p>4.criterion:</p>
                                <select id="criterion-select" name="criterion" class="form-select">
                                    <option value="gini">gini</option>
                                    <option value="entropy">entropy</option>
                                    <option value="log_loss">log_loss</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        The function to measure the quality of a split.
                                    </p>

                                </div>
                                <p>5.min_samples_split:</p>

                                <div>
                                    <input class="form-number" type="number" id="criterion-min_samples_split-input" name="min_samples_split" placeholder="Enter a positive integer between 1 and 100" value="2" min="1" max="100" step="1" maxlength="3" required oninput="this.value = this.value.replace(/\D/g,'')">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        The minimum number of samples required to split an internal node:<br>
                                        If int, then consider min_samples_split as the minimum number.

                                        If float, then min_samples_split is a fraction and ceil(min_samples_split * n_samples) are the minimum number of samples for each split.
                                    </p>

                                </div>
                                <p>6.min_weight_fraction_leaf</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-min_weight_fraction_leaf-input" name="min_weight_fraction_leaf" placeholder="Enter a positive float between 1 and 100" value="0.0" min="0" max="100" step="0.01" maxlength="6" required oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        The minimum weighted fraction of the sum total of weights (of all the input samples) required to be at a leaf node. Samples have equal weight when sample_weight is not provided.
                                    </p>

                                </div>
                                <p>7.max_features</p>
                                <select id="max_features-select" name="max_features" class="form-select">
                                    <option value="sqrt">sqrt</option>
                                    <option value="log2">log2</option>
                                    <option value="None">None</option>
                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        The number of features to consider when looking for the best split:<a href="#"></a>
                                        If “sqrt”, then max_features=sqrt(n_features).

                                        If “log2”, then max_features=log2(n_features).

                                        If None, then max_features=n_features.
                                    </p>

                                </div>
                                <p>8.max_leaf_nodes</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-max_leaf_nodes-input" name="max_leaf_nodes" placeholder="Enter a positive integer between 1 and 100" min="1" max="100" step="1" maxlength="3" ">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Grow trees with max_leaf_nodes in best-first fashion. Best nodes are defined as relative reduction in impurity. If None then unlimited number of leaf nodes.
                                    </p>

                                </div>
                                <p>9.min_impurity_decrease</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-min_impurity_decrease-input" name="min_impurity_decrease" placeholder="Enter a positive float between 1 and 100" value="0.0" min="0" max="100" step="0.01" maxlength="6" required oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        A node will be split if this split induces a decrease of the impurity greater than or equal to this value.
                                    </p>

                                </div>
                                <p>10.bootstrap</p>
                                <select id="bootstrap-select" name="bootstrap" class="form-select">
                                    <option value="True">True</option>
                                    <option value="False">False</option>

                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Whether bootstrap samples are used when building trees. If False, the whole dataset is used to build each tree.
                                    </p>

                                </div>
                                <p>11.oob_score</p>
                                <select id="oob_score-select" name="oob_score" class="form-select">
                                    <option value="False">False</option>
                                    <option value="True">True</option>


                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Whether to use out-of-bag samples to estimate the generalization score. By default, accuracy_score is used. Provide a callable with signature metric(y_true, y_pred) to use a custom metric. Only available if bootstrap=True
                                    </p>

                                </div>
                                <p>12.n_jobs</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-n_jobs-input" name="n_jobs" placeholder="Enter a positive integer between 1 and 100" min="1" max="100" step="1" maxlength="3">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        The number of jobs to run in parallel. fit, predict, decision_path and apply are all parallelized over the trees. None means 1 unless in a joblib.parallel_backend context. -1 means using all processors. See Glossary for more details.
                                    </p>

                                </div>
                                <p>13.random_state</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-random_state-input" name="random_state" placeholder="Enter a positive integer between 1 and 100" min="1" max="100" step="1" maxlength="3">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Controls both the randomness of the bootstrapping of the samples used when building trees (if bootstrap=True) and the sampling of the features to consider when looking for the best split at each node (if max_features < n_features)
                                    </p>

                                </div>
                                <p>14.verbose</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-verbose-input" name="verbose" placeholder="Enter a positive integer between 1 and 100" value="0" min="0" max="100" step="1" maxlength="3">


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Controls the verbosity when fitting and predicting.
                                    </p>

                                </div>
                                <p>15.warm_start</p>
                                <select id="warm_start-select" name="warm_start" class="form-select">
                                    <option value="Falsm">False</option>
                                    <option value="true">True</option>


                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        When set to True, reuse the solution of the previous call to fit and add more estimators to the ensemble, otherwise, just fit a whole new forest.
                                    </p>

                                </div>
                                <p>16.class_weight</p>
                                <select id="class_weight-select" name="class_weight" class="form-select">
                                    <option value="none">None</option>
                                    <option value="balanced">balanced</option>
                                    <option value="balanced_subsample">balanced_subsample</option>

                                </select>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Weights associated with classes in the form {class_label: weight}. If not given, all classes are supposed to have weight one. For multi-output problems, a list of dicts can be provided in the same order as the columns of y.
                                    </p>

                                </div>
                                <p>17.ccp_alpha</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-ccp_alpha-input" name="ccp_alpha" placeholder="Enter a positive float between 1 and 100" value="0.0" min="0" max="100" step="0.01" maxlength="6" required oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*?)\..*/g, '$1');">
                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        Complexity parameter used for Minimal Cost-Complexity Pruning. The subtree with the largest cost complexity that is smaller than ccp_alpha will be chosen. By default, no pruning is performed.
                                    </p>

                                </div>
                                <p>18.max_samples</p>
                                <div>
                                    <input class="form-number" type="number" id="criterion-max_samples-input" name="max_samples" placeholder="Enter a positive integer between 1 and 100" value= min="1" max="100" step="1" maxlength="3"  >


                                </div>
                                <div class="explication">
                                    <p>
                                        Explication :
                                        If bootstrap is True, the number of samples to draw from X to train each base estimator.
                                    </p>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <button type="submit" id="submit" value="submit"></button>
    </form>

</html>
