
@{
    ViewData["Title"] = "Coure der Précision";
    string pic = "~/images/n_estimators";

    if (!string.IsNullOrEmpty(ViewBag.path))
    {
        dynamic jsonResult = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.path);
        if (jsonResult != null && jsonResult.path != null)
        {
            // 将 accuracy 字段的值转换为浮点数并返回
            pic = jsonResult.path;
        }
    }
    string methodML = ViewBag.MLmodel;
    string hp = ViewBag.hparam;
}
<link rel="stylesheet" href="/css/Style_Resultsvm.css">
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Précision de la méthode SVM :  @pic</h3>
    @if (!string.IsNullOrEmpty(pic))
    {
        if(methodML == "RandomForest")
        {
            if(hp == "rf-n_estimators")
            {
                <img src="~/images/precision/RandomForest/n_estimators.png" 
                alt="RandomForest n_estimators " width="1000px" height="800px" />
            }
            if (hp == "rf-min_samples_leaf")
            {
                <img src="~/images/precision/RandomForest/min_samples_leaf.png"
                     alt="RandomForest min_samples_leaf " width="1000px" height="800px" />
            }
            if (hp == "rf-max_depth")
            {
                <img src="~/images/precision/RandomForest/max_depth.png"
                alt="RandomForest max_depth " width="1000px" height="800px" />
            }
        }
        if (methodML == "svm")
        {
            if (hp == "svm-C")
            {
                <img src="~/images/precision/SVM/C.png"
                     alt="SVM C " width="1000px" height="800px" /> <br />
                <img src="~/images/precision/SVM/C1.png"
                     alt="SVM C " width="1000px" height="800px" />

            }
        }
        if (methodML == "knn")
        {
            if (hp == "knn-n_neighbors")
            {
                <img src="~/images/precision/KNN/n_neighbors1.png"
                     alt="KNN n_neighbors " width="1000px" height="800px" /> <br />
                <img src="~/images/precision/KNN/n_neighbors.png"
                     alt="KNN n_neighbors " width="1000px" height="800px" />
            }
        }

         <!--<img src="~/images/precision/RandomForest/n_estimators.png" alt="RandomForest n_estimators " width="1000px" height="800px" />
            -->
    }
    else
    {
        <p>Image not found.</p>
    }
</main>

