
@{
    ViewData["Title"] = "ResultAnalytique";
}
<link rel="stylesheet" href="/css/Style_ResultAna.css">
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Précision de la méthode analytique : @ViewBag.Result </h3>
</main>


