
body {
    //background-color: #ddeedf;
    //background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    /* 渐变背景 */
    background: linear-gradient(125deg,#b7f5de,#b0f4e6,#f5fac8);
    /* 指定背景图像的大小 */
    background-size: 500%;
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 15s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.optionSection {
    width: 100%;
    max-width: 200px; /* 容器最大宽度 */
    margin: 0 auto; /* 居中显示 */
}

/* 手风琴项样式 */
.accordion-item {
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #F5FFFA;
}
/* 手风琴标题样式 */
.accordion-header {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #8bcfcc;
    color: #fff;
    font-size: 16px;
    text-align: center; /* 将文本居中对齐 */
    margin-right: 20px; /* 在右侧增加间距 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* 添加圆角 */
}

    /* 手风琴标题悬停样式 */
    .accordion-header:hover {
        background-color: #23a393; /* 悬停时的背景色 */
    }


/* 手风琴内容样式 */
.accordion-content {
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.6;
    transition: max-height 0.3s ease; /* 过渡效果 */
    max-height: 0; /* 初始时内容区域高度为0 */
    overflow: hidden;
}


.accordion-button {
    padding: 1px; /* 调整展开状态下按钮的内边距 */
    width: 35px;
    margin-left: 30px; /* 在左侧增加间距 */
}

    .accordion-button::after {
        display: inline-block;
        font-size: 12px; /* 设置伪元素的字体大小 */
        margin-left: 5px; /* 调整伪元素的左侧外边距 */
    }


/*explication */
.explication {
    color: #665757;
    opacity: 0.6;
}

#submit {
    padding: 7px 15px; /* 按钮内边距 */
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    color: #ffffff;/* 文本颜色 */
    background-color: #5fbdb0; /* 背景颜色 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停样式为手型 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */
}

    #submit:hover {
        background-color: #AFEEEE; /* 悬停时的背景颜色 */
    }

/* 默认复选框样式 */
input[type="checkbox"] {
    /* 隐藏原始复选框 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 使用定制的复选框样式 */
    width: 20px;
    height: 20px;
    border: 1px solid #45b97c;
    border-radius: 4px;
}

    /* 当复选框被选中时的样式 */
    input[type="checkbox"]:checked {
        background-color: #65c294;
        border: 1px solid #45b97c;
    }
