@{
    ViewData["Title"] = "Test Methode analytique";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br> </br>
    <br> </br>
    <form method="post" action="Methode_analytique">
        <br> Cliquez sur le boutton pour voir la précision de la méthode analytique</br>
        <br> </br>
        <div>
            <button type="submit" class="btn-upload" id="suivant-btn">Suivant</button>
        </div>
    </form>

</div>
 

