@{
    ViewBag.Title = "Dépôt Git";
    ViewBag.Message = "Explorez notre dépôt Git";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Bienvenue dans notre dépôt Git. Ici, vous pouvez explorer le code source de notre projet.</p>

    <p>Trouvez-nous sur Git :</p>
    <ul>
        <li><a href="https://github.com/oceanelinxi/Projet_RFID.git">Dépôt du Projet</a></li>
        <!-- Ajoutez d'autres liens Git au besoin -->
    </ul>
</main>
