
@{
    ViewBag.Title = "Fin";
}

<h2>Fin</h2>

<div class="col-md-8">
    <div class="result">
        @if (ViewBag.Result != null)
        {
            <h4>Result:</h4>
            <pre>@Html.Raw(ViewBag.Result)</pre>
        }
    </div>
</div>