@{
    ViewData["Title"] = "Index3";
}

<div class="text-center">
    <h2>Choisir une méthode</h2>
    <span>Méthode：</span>
    <select id="methodeSelect" name="Model">
        <option value="svm">SVM</option>
        <option value="knn">KNN</option>
        <option value="RandomForest">Random Forest</option>
        <option value="RegressionLogistique">Regresion Logistique</option>
        <option value="NaiveBayes">Naive Bayes</option>
    </select>
    <button type="button" id="btnOK">OK</button><br><br>
</div>

<div id="optionsSection" style="display:none;" class="text-center">
    <h3>Paramètres</h3>
    <span>Hyperparamètre：</span>
    <select id="parametre"></select>
    <button type="button" id="btnSub">soumettre</button><br><br>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById('btnOK').addEventListener('click', function () {
            var optionsSection = document.getElementById('optionsSection');
            var choixMethode = document.getElementById('methodeSelect').value;

            // Afficher les paramètres correspondants selon la méthode choisie
            if (optionsSection.style.display === "none") {
                optionsSection.style.display = "block";
                // Définir les options de paramètres en fonction de la méthode choisie
                var parametreSelect = document.getElementById('parametre');
                parametreSelect.innerHTML = ''; // Effacer les options existantes

                if (choixMethode === "svm") {
                    // Ajouter les options de paramètres SVM
                    addOption(parametreSelect, "svm_parametre1", "C");
                    addOption(parametreSelect, "svm_parametre2", "Gamma");
                } else if (choixMethode === "knn") {
                    // Ajouter les options de paramètres KNN
                    addOption(parametreSelect, "knn_parametre1", "n_neighbors");
                } else if (choixMethode === "RandomForest") {
                    // Ajouter les options de paramètres Random Forest
                    addOption(parametreSelect, "rf_parametre1", "n_estimators");
                    addOption(parametreSelect, "rf_parametre2", "max_depth");
                    addOption(parametreSelect, "rf_parametre3", "min_samples_leaf");

                } else if (choixMethode === "NaiveBayes") {
                    addOption(parametreSelect, "nb_parametre1", "alpha");
                }
            } else {
                optionsSection.style.display = "none";
            }
        });

        // Fonction pour ajouter une option à un élément select
        function addOption(selectElement, value, text) {
            var option = document.createElement('option');
            option.value = value;
            option.text = text;
            selectElement.appendChild(option);
        }
    </script>
}
